[Unit]
Description=USB Encryption Enforcer DLP daemon
After=network.target dbus.service
Wants=systemd-udevd.service dbus.service

[Service]
Type=simple
ExecStart=/usr/libexec/usb-enforcerd --config /etc/usb-enforcer/config.toml
Restart=on-failure
CapabilityBoundingSet=CAP_SYS_ADMIN CAP_DAC_READ_SEARCH CAP_DAC_OVERRIDE CAP_CHOWN
AmbientCapabilities=CAP_SYS_ADMIN CAP_CHOWN

[Install]
WantedBy=multi-user.target
